*{
   /* max-width: 100%; */
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}
a{
text-decoration: none;
}
li{
    list-style: none;
}
P{
    color: #627382;
}
.btn{
padding: 12px 16px;
    display: flex;
    background: #30B868;
    border-radius: 4px;
    column-gap: 10px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #30B868;
    cursor: pointer;

}
.btn:hover{
    background: #0f6533;
    
    color: #ffffff;
    border: 1px solid #30B868;
    transition: 0.7s;

}
.navbar-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 92px;
       max-width: 1200px !important;
}
.navbar-section ul li a{
    color: #000;
    font-size: 16px;
    display: flex;
}

.navbar-section ul {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.navbar-section ul li a:hover{
    color: #30B868;
    font-size: 16px;
    transition: 0.7s;
    
}

/* banner section */
.banner{
    background: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
}
.banner-content{
    text-align: center;
    align-items: center;
    row-gap: 20px;
}
.banner-content .subtile{
    display: flex;
    justify-content: center;
    max-width: 200px;
    background: #fff;
    padding:08px 12px 08px 12px;
    border-radius: 1000px;
    color: #30B868;
    font-size: 16px;
}
.banner-content h2{
    font-size: 72px;
    color: #fff;
    width: 50%;
    font-weight: 700;
}
.banner-content p {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
    font-weight: 400;
    width: 45%;
    padding: 18px 0;
}
button{
    border: none;
    
}
.left-btn {
    padding: 12px 16px;
    display: flex;
    background: #30B868;
    border-radius: 4px;
    column-gap: 10px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #30B868;
    cursor: pointer;
}
.left-btn:hover{
    background: transparent;
    
    color: #fff;
    border: 1px solid #30B868;
    transition: 0.7s;
}
.right-btn{
     padding: 12px 16px;
    display: flex;
    background: transparent;
    border-radius: 4px;
    column-gap: 10px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #30B868;
    cursor: pointer;
}
.right-btn:hover{
    background: #30B868;
    
    color: #fff;
    border: 1px solid #30B868;
    transition: 0.7s;
} 
.buttons{
    display: flex;
    width: 500px;
    column-gap: 16px;
}
/* notes Section  */
.note-card{
    text-align: center;
    align-items: center;
    display: flex;
     column-gap: 30px;
     padding: 50px 0 0 0;
}
.note{
    padding: 100px 0 0 0;
    max-width: 1200px !important;
    z-index: 5;
}
.note .note-contetn h2{
   font-size: 48px;
   font-weight: 700;
   color: #000;
}

.note-contetn{
    text-align: center;
}
.card-item{
    padding: 70px 24px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
   

}

.card-item img{
    padding: 14px;
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
   
}
.card-item p{
    padding-top: 16px;
    font-size: 16px;
    color: rgba(0, 25, 49, 1);
}
/* brain section */
.brain {
    max-width: 1200px;
    display: flex;
    column-gap: 60px;
    align-items: center;
    padding-top: 80px;
    
}
.brain .image img{
    border-radius: 12px;
    
}
.brain .brain-content{
    width: 50%;
}

.brain .brain-content h5{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}
.brain .brain-content h2{
    font-weight: 700;
    font-size: 48PX;
    color: #000;
}
.brain .brain-content .list li{
    color: rgba(0, 25, 49, 1);
    font-size: 16px;
    column-gap: 15px;
    padding-top: 16px;

}
.brain .brain-content .list li img{
    width: 20px;
    margin-bottom: -5px;
    margin-right: 10px;
}
.brain .brain-content p{
    padding:16px 175px 40px 0px;
}
/* CTA Section */
.cta{
    margin: 100px auto ;
    max-width: 1200px;
    background: #F7F6F2;
    padding: 12px;
    padding: 80px 40px;
    text-align: center;
    border-radius: 12px;

}
.cta p{
    width: 45%;
    padding: 16px 0 24px 0;
}
.cta h2{
    font-weight: 700;
    font-size: 48PX;
    color: #000;
}
/* fotter section */
.fotter{
background: #001931;
padding: 120px 0 30px;
}
.fotter .main-fotter{
    max-width: 1200px;
    margin: 0 auto;   
    width: 100%;
   

}
.top-fotter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  padding-bottom: 80px;
  margin: 0 0 !important;      
}
 .logo,
 .socail{
  display: block;
  
  margin: 0 0 !important; 
}
.socail h5 {
  color: #ffffff;
  margin-bottom: 12px;
  font-size: 20px;
}


.socail .icon ul {
  list-style: none;
  display: flex;
  gap: 14px;
  padding: 0;
  margin: 0;
}


.socail .icon ul li i {
  color: #000;           
  font-size: 18px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  background: #fff; 
}


.socail .icon ul li i:hover {
  background: transparent;
  color: #fff;
}



.botom-fotter{
    padding-top: 30px;
    border-top: 1px solid #E5E7EB;
}
.botom-fotter p{
    text-align: center;
}



